<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML
  ><HEAD
    ><TITLE>Email Signature</TITLE>
    <META content="text/html; charset=utf-8" http-equiv="Content-Type" />
  </HEAD>
  <BODY style="font-size: 10pt; font-family: Arial, sans-serif">
    <table
      width="480"
      style="font-size: 11pt; font-family: Arial, sans-serif; margin-top: 10px"
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tbody>
        <tr>
          <td
            *ngIf="displayData.chooseImage === 'yes'"
            width="50"
            style="
              font-size: 10pt;
              font-family: Arial, sans-serif;
              width: 50px;
              vertical-align: top;
            "
            valign="top"
          >
            <img
              border="0"
              alt="profile pic"
              width="70"
              style="width: 50px; height: 50; border: 0; border-radius: 50%"
              src="{{ displayData.imageUrl }}"
            />
          </td>

          <td
            valign="top"
            width="270"
            style="width: 270px; vertical-align: top; line-height: 11px"
          >
            <table cellpadding="0" cellspacing="0" border="0" width="270">
              <tbody>
                <tr>
                  <td style="font-size: 10pt; height: 10px; line-height: 10px">
                    <span
                      style="
                        font-family: Arial, sans-serif;
                        font-size: 10pt;
                        color: #002460;
                      "
                      ><strong
                        >{{ displayData.firstName }}
                        {{ displayData.lastName | uppercase }}</strong
                      ></span
                    >
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 9pt; height: 10px; line-height: 10px">
                    <span
                      style="
                        font-family: Arial, sans-serif;
                        font-size: 9pt;
                        color: #000000;
                      "
                      >{{ displayData.jobTitle }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td style="height: 5px; line-height: 5px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="font-size: 9pt; height: 10px; line-height: 10px">
                    <span
                      style="
                        font-family: Arial, sans-serif;
                        color: #000000;
                        font-size: 9pt;
                      "
                      ><strong style="color: #002460">M</strong>
                      {{ displayData.mobileNumber }}</span
                    >
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 9pt; height: 10px; line-height: 10px">
                    <span
                      style="
                        font-family: Arial, sans-serif;
                        color: #000000;
                        font-size: 9pt;
                      "
                      ><strong style="color: #002460">E</strong>
                      {{ displayData.email }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      width="480"
      style="font-size: 11pt; font-family: Arial, sans-serif; margin-left: 5px"
      cellpadding="0"
      cellspacing="0"
      border="0"
    >
      <tbody>
        <tr>
          <td
            valign="top"
            width="270"
            style="width: 270px; vertical-align: top; line-height: 11px"
          >
            <table cellpadding="0" cellspacing="0" border="0" width="270">
              <tbody>
                <tr>
                  <td
                    width="160"
                    style="
                      font-size: 10pt;
                      font-family: Arial, sans-serif;
                      width: 160px;
                      vertical-align: top;
                    "
                    valign="top"
                  >
                    <a href="https://www.oryx-wa.com" target="_blank">
                      <img
                        border="0"
                        alt="Logo"
                        width="60"
                        height="30"
                        style="width: 60px; height: 30; border: 0"
                        src="https://res.cloudinary.com/email-signature/image/upload/v1646590188/email-signature-images/oryx-logo_xv7erl.png"
                      />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 10pt; height: 14px; line-height: 14px">
                    <span style="font-family: Arial, sans-serif; font-size: 9pt"
                      >Suite 10, 2nd Floor, Management Building, 22 Idowu Taylor
                      Street Victoria Island, Lagos</span
                    >
                  </td>
                </tr>
                <tr>
                  <td style="font-size: 10pt; height: 14px; line-height: 14px">
                    <span
                      style="font-family: Arial, sans-serif; font-size: 9pt"
                    >
                      <a
                        href="http://www.oryx-wa.com"
                        target="_blank"
                        rel="noopener"
                        style="text-decoration: none"
                      >
                        <strong
                          style="
                            color: #002460;
                            font-family: Arial, sans-serif;
                            font-size: 9pt;
                            height: 4px;
                            line-height: 10px;
                          "
                          >www.oryx-wa.com</strong
                        >
                      </a>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 10pt;
                      font-family: Arial, sans-serif;
                      vertical-align: top;
                    "
                    valign="top"
                  >
                    <span>
                      <a
                        href="https://www.facebook.com/OryxafricaIT?ref=bookmarks"
                        target="_blank"
                        rel="noopener"
                      >
                        <img
                          border="0"
                          width="22"
                          alt="facebook icon"
                          style="border: 0; height: 22px; width: 22px"
                          src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/facebook1_wh4px2.png"
                        /> </a
                      >&nbsp;
                    </span>
                    <span>
                      <a
                        href="https://www.instagram.com/oryxafricait/"
                        target="_blank"
                        rel="noopener"
                      >
                        <img
                          border="0"
                          width="22"
                          alt="instagram icon"
                          style="border: 0; height: 22px; width: 22px"
                          src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/instagram1_tkls6t.png"
                        /> </a
                      >&nbsp;
                    </span>
                    <span>
                      <a
                        href="https://www.linkedin.com/company/oryx-computer-system-w-a-/mycompany/"
                        target="_blank"
                        rel="noopener"
                      >
                        <img
                          border="0"
                          width="22"
                          alt="linkedin icon"
                          style="border: 0; height: 22px; width: 22px"
                          src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/linkedin1_il0pdq.png"
                        /> </a
                      >&nbsp;
                    </span>
                    <tr></tr>
                  </td>
                </tr>
              </tbody>
              <tbody></tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td
            colspan="4"
            style="
              padding-top: 15px;
              line-height: 14px;
              font-size: 7.5pt;
              color: #808080;
              font-family: Arial, sans-serif;
            "
          >
            This e-mail may contain trade secrets or privileged, undisclosed, or
            otherwise confidential information. If you have received this e-mail
            in error, you are hereby notified that any review, copying, or
            distribution of it is strictly prohibited. Please inform us
            immediately and destroy the original transmittal. Thank you for your
            cooperation.
          </td>
        </tr>
      </tbody>
    </table>
  </BODY>
</HTML>
