textarea {
  height: 1000px;
  width: 100%;
  padding: 30px;
  font-size: 15px;
  outline: none;
  border: 1px solid #265df2;
  border-radius: 8px;
  background-color: #e7edfe;
}

textarea::-webkit-scrollbar {
  display: none;
}
