<div class="row mt-5">
  <div class="col-8 m-auto">
    <table
      cellpadding="0"
      cellspacing="0"
      style="
        width: 100%;
        max-width: 560px;
        margin-top: 50px;
        margin-left: -30px;
      "
    >
      <tr>
        <td width="20%" valign="top" style="padding-left: 50px">
          <div
            style="
              background-image: url('https://res.cloudinary.com/email-signature/image/upload/v1645198924/email-signature-images/container_bwjyio.png');
              background-size: cover;
              height: 165px;
              width: 100px;
              min-width: 127px;
              object-fit: cover;
              padding-top: 30px;
            "
          >
            <span style="padding-left: 75px">
              <img
                [src]="displayData.imageUrl"
                alt=""
                width="110"
                height="110"
                style="border-radius: 50%"
              />
            </span>
          </div>
        </td>
        <td width="50%" valign="top" style="padding-left: 90px">
          <h3
            style="
              font-size: 20px;
              font-family: Arial, Helvetica, sans-serif;
              line-height: 0.5;
              padding-top: 10px;
            "
          >
            {{ displayData.firstName }} {{ displayData.lastName | uppercase }}
          </h3>
          <p
            style="
              font-size: 13px;
              padding-left: -10px;
              font-family: Arial, Helvetica, sans-serif;
            "
          >
            {{ displayData.jobTitle }}
          </p>
          <div style="display: flex; padding-top: 10px">
            <div
              style="
                display: flex;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: -15px;
                padding-top: 10px;
              "
            >
              <img
                src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/phone_location_m9t02i.png"
                alt=""
                width="70"
                height="85"
                style="padding-right: 4px"
              />
              <div>
                <p style="font-size: 13px">{{ displayData.mobileNumber }}</p>
                <p style="font-size: 13px; padding-top: 5px">
                  22 Idowu Taylor St, Victoria Island, Lagos.
                </p>
              </div>
            </div>
            <div
              style="
                display: flex;
                font-family: Arial, Helvetica, sans-serif;
                margin-left: 20px;
                padding-top: 10px;
              "
            >
              <img
                src="https://res.cloudinary.com/email-signature/image/upload/v1645199126/email-signature-images/email-address_jpkpha.png"
                alt=""
                width="40"
                height="85"
                style="padding-right: 4px"
              />
              <div>
                <p style="font-size: 13px">https://www.oryx-wa.com</p>
                <p style="font-size: 13px; padding-top: 15px">
                  {{ displayData.email }}
                </p>
              </div>
            </div>
          </div>
        </td>
        <td width="25%" valign="top" style="padding-left: 100px">
          <img
            src="https://res.cloudinary.com/email-signature/image/upload/v1645199304/email-signature-images/oryx-logo_xhq8b7.png"
            alt=""
            width="150px"
            height="100px"
            style="object-fit: contain"
          />
          <p
            style="
              font-size: 12px;
              font-family: Arial, Helvetica, sans-serif;
              line-height: 0.5;
            "
          >
            Innovative Business Solutions
          </p>
          <div
            style="
              padding-top: 2px;
              display: flex;
              background-image: url('https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/lowerbackgroud_cmaet7.png');
              background-size: contain;
              background-repeat: no-repeat;
            "
          >
            <a
              href="https://www.facebook.com/OryxafricaIT?ref=bookmarks"
              style="padding: 3px 25px 0px 25px"
            >
              <img
                src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/facebook1_wh4px2.png"
                width="25"
                height="25"
                alt=""
                style="display: inline-block"
              />
            </a>
            <a
              href="https://www.instagram.com/oryxafricait/"
              style="padding-right: 25px; padding-top: 3px"
            >
              <img
                src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/instagram1_tkls6t.png"
                width="28"
                height="28"
                alt=""
                style="display: inline-block"
              />
            </a>
            <a
              href="https://www.linkedin.com/company/oryx-computer-system-w-a-/mycompany/"
              style="padding-right: 25px; padding-top: 3px"
            >
              <img
                src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/linkedin1_il0pdq.png"
                width="25"
                height="25"
                alt=""
                style="display: inline-block"
              />
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col-8 m-auto">
    <button
      class="btn btn-secondary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal2"
    >
      Copy Code
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Copy html code</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <textarea
          name="email-code"
          id="email-code"
          ngxCopyPaste
          #cp="copy"
          readonly
        >
          <!DOCTYPE html>
        <html lang="en">
          <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Email Signature</title>
          </head>
          <body>
            <table
              cellpadding="0"
              cellspacing="0"
              style="width: 100%; max-width: 560px; margin-top: 50px"
            >
              <tr>
                <td width="20%" valign="top" style="padding-left: 50px">
                  <div
                    style="
                      background-image: url('https://res.cloudinary.com/email-signature/image/upload/v1645198924/email-signature-images/container_bwjyio.png');
                      background-size: cover;
                      height: 135px;
                      width: 100px;
                      min-width: 126px;
                      object-fit: cover;
                      padding-top: 30px;
                    "
                  >
                    <span style="padding-left: 75px">
                      <img
                         src="{{ displayData.imageUrl }}"
                        alt=""
                        width="100"
                        height="100"
                        style="border-radius: 50%"
                      />
                    </span>
                  </div>
                </td>
                <td width="50%" valign="top" style="padding-left: 90px">
                  <h3
                    style="
                      font-size: 20px;
                      font-family: Arial, Helvetica, sans-serif;
                      line-height: 0.5;
                      padding-top: 0;
                    "
                  >
                    {{ displayData.firstName }}
                    {{ displayData.lastName | uppercase }}
                  </h3>
                  <p
                    style="
                      font-size: 13px;
                      padding-left: -10px;
                      font-family: Arial, Helvetica, sans-serif;
                    "
                  >
                    {{ displayData.jobTitle }}
                  </p>
                  <div style="display: flex; padding-top: 10px">
                    <div
                      style="
                        display: flex;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: -15px;
                        padding-top: 10px;
                      "
                    >
                      <img
                        src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/phone_location_m9t02i.png"
                        alt=""
                        width="70"
                        height="85"
                        style="padding-right: 4px"
                      />
                      <div>
                        <p style="font-size: 13px">
                          {{ displayData.mobileNumber }}
                        </p>
                        <p style="font-size: 13px; padding-top: 5px">
                          22 Idowu Taylor St, Victoria Island, Lagos.
                        </p>
                      </div>
                    </div>
                    <div
                      style="
                        display: flex;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: 20px;
                        padding-top: 10px;
                      "
                    >
                      <img
                        src="https://res.cloudinary.com/email-signature/image/upload/v1645199126/email-signature-images/email-address_jpkpha.png"
                        alt=""
                        width="40"
                        height="85"
                        style="padding-right: 4px"
                      />
                      <div>
                        <p style="font-size: 13px">https://www.oryx-wa.com</p>
                        <p style="font-size: 13px; padding-top: 15px">
                          {{ displayData.email }}
                        </p>
                      </div>
                    </div>
                  </div>
                </td>
                <td width="25%" valign="top" style="padding-left: 100px">
                  <img
                    src="https://res.cloudinary.com/email-signature/image/upload/v1645199304/email-signature-images/oryx-logo_xhq8b7.png"
                    alt=""
                    width="150px"
                    height="100px"
                    style="object-fit: contain"
                  />
                  <p
                    style="
                      font-size: 12px;
                      font-family: Arial, Helvetica, sans-serif;
                    "
                  >
                    Innovative Business Solutions
                  </p>
                  <div
                    style="
                      padding-top: 4px;
                      display: flex;
                      background-image: url('https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/lowerbackgroud_cmaet7.png');
                      background-size: contain;
                      background-repeat: no-repeat;
                    "
                  >
                    <a
                      href="https://www.facebook.com/OryxafricaIT?ref=bookmarks"
                      style="padding: 3px 25px 0px 25px"
                    >
                      <img
                        src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/facebook1_wh4px2.png"
                        width="25"
                        height="25"
                        alt=""
                        style="display: inline-block"
                      />
                    </a>
                    <a
                      href="https://www.instagram.com/oryxafricait/"
                      style="padding-right: 25px; padding-top: 3px"
                    >
                      <img
                        src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/instagram1_tkls6t.png"
                        width="28"
                        height="28"
                        alt=""
                        style="display: inline-block"
                      />
                    </a>
                    <a
                      href="https://www.linkedin.com/company/oryx-computer-system-w-a-/mycompany/"
                      style="padding-right: 25px; padding-top: 3px"
                    >
                      <img
                        src="https://res.cloudinary.com/email-signature/image/upload/v1645199128/email-signature-images/linkedin1_il0pdq.png"
                        width="25"
                        height="25"
                        alt=""
                        style="display: inline-block"
                      />
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </body>
        </html>
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="cp.copy()"
          data-bs-dismiss="modal"
        >
          Copy
        </button>
      </div>
    </div>
  </div>
</div>
